{{> header}}

<form id="signup-form">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" id="username-signup">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-signup">
  </div>
  <button type="submit" class="btn btn-primary">Log In</button>
  <h4 id="create-account">Already have an account? <a href="/login">Log in</a></h4>
</form>

<script src = "/js/signup.js"></script>