<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
   <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">The Tech Blog</span>
              </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                  
                  {{#if logged_in}}
                  <a class="nav-link" href="/dashboard">Dashboard</a>
                  <a id='logout' class="nav-link" href="#">Logout</a>
                  {{else}}
                  <a class="nav-link" href="/login">Login</a>
                  {{/if}}
                </div>
              </div>
            </div>
    </nav>

     </header>
     <main>
         {{{body}}}
     </main>
    
    <footer></footer>
</body>
</html>

{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}