<h3>My Posts:</h3>
   {{#each userPosts}}
  <div class="card" style="width: 40rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">{{date}}</h6>
    <a href="/dashboard/editpost/{{id}}"><h4 class="card-title">{{title}}</h4></a>
    <p class="card-text">{{content}}</p>
  </div>

</div>


    {{/each}}


<a href="/dashboard/new" type="button" class="btn btn-primary">Create New Post</a>