

<form id="login-form">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" id="username-login">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>
  <button type="submit" class="btn btn-primary">Log In</button>
  <h4 id="create-account">Don't have an account? <a href="/signup">Sign up</a></h4>
</form>

<script src = "/js/login.js"></script>