
<div id = "form">
<form id="login-form">
  <div class="mb-3" style="width: 40rem">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" id="username-login">
  </div>
  <div class="mb-3" style="width: 40rem">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>
  <button type="submit" class="btn btn-dark">Log In</button><br><br>
  <h6 id="create-account">Don't have an account? <a href="/signup">Sign up</a></h6>
</form>
</div>
<script src = "/js/login.js"></script>