

<form id="new-post-form">
  <div class="mb-3" style="width: 40rem">
    <label for="exampleInputEmail1" class="form-label">Title</label>
    <input type="text" class="form-control" id="post-title">
  </div>
  <div class="mb-3" style="width: 40rem">
    <label for="exampleInputPassword1" class="form-label">Content</label>
    <textarea class="form-control" id="post-content"></textarea>
  </div>
  <button type="submit" class="btn btn-lg btn-dark">Submit</button>

</form>

<script src = "/js/new.js"></script>